$background: linear-gradient(to bottom, #ececec 1%,#9fd3c7 66%,#49d1b1 100%);
$button-color: #ececec;
$accent-color: #66bfbf;
$text-color: #142d4c;
$flower-color: #385170;
$font-family: 'Comic Sans MS', cursive, sans-serif;
